.form1{
   width: 100%;
   height: 100vh;
}
.div2{
   width: 100%;
   height: 100vh;
}
.div3{
   width: 100%;
   height: 20vh;
   background-color: blue;
   display: inline-flex;
   justify-content: center;
   align-items: center;
   color: aliceblue;
}
.div4{
   width: 100%;
   height: 60vh;
}
.div5{
   width: 100%;
   height: 20vh;
   background-color: brown;
}
#inp{
   width: 70%;
   height: 5vh;
   border-radius: 20px;
   color: aliceblue;
}